/* ----- Global Formatting ----- */

:root {
  --Dachewda: hsl(232, 60%, 30%); /* #1f2b7a */
  --Dachewda-S: hsl(182, 85%, 85%); /* #1f2b7a */
  --Main: hsl(232, 60%, 30%); /* #1f2b7a */
  --Main-C: hsl(232, 60%, 60%);
  --Main-D: hsl(232, 60%, 75%);
  --Secondary: hsl(182, 85%, 85%);
  --Block: hsl(52, 85%, 70%); /* #f4e271 */
  --Hover: hsl(330, 65%, 60%);
  --Error: hsl(0, 85%, 60%);
  --YT: hsl(0, 100%, 50%);
  --White: hsl(210, 5%, 95%);
  --Grey: hsl(150, 40%, 90%);
  --Soft: hsl(232, 60%, 90%);

  --BG-Heavy: hsl(0 0 80%);
  --BG: hsl(0 0 85%);
  --BG-Light: hsl(0 0 90%);
  --Text: hsl(0 0 5%);
  --Text-Muted: hsl(0 0 30%);
}

/* Dark Mode */

@media (prefers-color-scheme: dark){
  :root{
    --BG-Heavy: hsl(0 0 15%);
    --BG: hsl(0 0 20%);
    --BG-Light: hsl(0 0 25%);
    --Text: hsl(0 0 95%);
    --Text-Muted: hsl(0 0 70%);
  }

  /* Makes link text legible */
  main a:not(.button-link):not(.button-home):not(.button-YT) {
    color: var(--Secondary); 
  }

  main a:not(.button-link):not(.button-home):not(.button-YT):hover {
    color: var(--Hover);
  }
}



/* --- Navigation, Buttons, & Links --- */

header nav ul {
  list-style-type: none; /* No bullets */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0; /* Removes bullet-point indents */
  column-gap: 15px; /* Gap between nav elements */
  row-gap: 30px; 
}

header nav ul li a {
  text-decoration: none;
  font-weight: bold;
  padding: 10px 14px; /* Padding around text: Block size */
  border-radius: 6px;
  background-color: var(--Block);
  color: var(--Main);
  transition: background-color 0.6s ease;
}
header nav ul li a:hover {
  background-color: var(--Hover);
  color: var(--Grey);
}

.button-link,
.button-home {
  display: inline-block;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 14px;
  border-radius: 6px;
  color: var(--Main);
  transition: background-color 0.6s ease;
}
.button-link:hover,
.button-home:hover {
  background-color: var(--Hover);
  color: var(--Grey);
}
.button-link {
  background-color: var(--Block);
  color: var(--Main);
}
.button-home {
  background-color: var(--Secondary);
  margin-top: 20px;
}

main a:not([class]) {
  color: var(--Secondary);
}
a.button-YT {
  display: inline-block;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 14px;
  border-radius: 6px;
  transition: background-color 0.6s ease;
}
a.button-YT:link,
a.button-YT:visited {
  color: var(--White);
  background-color: var(--YT);
}
a.button-YT:hover,
a.button-YT:active {
  color: var(--Dachewda-S);
  background-color: var(--Dachewda);
}

.button-bad {
  background-color: var(--Error);
  color: var(--Secondary);
}

/* --- Headers & Footer --- */

header {
  background-color: var(--Main);
  color: var(--White);
  text-align: center;
  font-size: 1.3rem;
  padding: 10px;
}

h2{
  margin-top: 40px;
  font-size: 1.6rem;
}
h3{
  margin-top: 30px;
  text-indent: 20px;
  color: var(--Block)
}

footer {
  background-color: var(--Main);
  color: var(--White);
  text-align: center;
  padding: 1em; /* Relative to parent font size */
}


/* --- Body & Layout --- */

html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 5px;
  
  font-family: Arial, sans-serif;
  background-color: var(--BG);
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}


main {
  flex: 1; /* Takes up all remaining space */
  padding: 1em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  color: var(--Text);
}
main ul {
  list-style-type: none; /* Remove bullets */
  padding-left: 0;
  display: flex;
  flex-direction: column; /* Stack vertically */
  align-items: center;
  gap: 10px; /* Add spacing between buttons */
}

li.indented {
  margin-left: 3em;
}

ol {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}
ol.center {
  display: inline-block;
  text-align: left
}

.center {
  text-align: center;
  text-indent: 0px;
}
.top {
  margin-top: 1em;
}

.section {
  flex: 1;
  padding: 0.5em;
  border-radius: 8px;
  background-color: var(--BG-Light);
  color: var(--Text);
}

.bold-text {
  font-weight: bold;
}
.bold-color {
  font-weight: bold;
  color: var(--Secondary);
}
.bold-grey {
  font-weight: bold;
  color: var(--Grey);
}

/* 3-Section Layout */
.three-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Center is wider */
  gap: 1em;
}
@media (max-width: 768px) {
  .three-section {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .three-section {
    grid-template-columns: 1fr 1fr;
  }
}

/* 2-Column Layout */
.two-column {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}
.text-column, .image-column {
  flex: 1 1 0;
  min-width: 300px;
}
.text-column {
  padding: 0 10vw; /* top/bottom 0, left/right 20px */
}
.image-column {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-column img {
  max-width: 100%;
  height: auto;
  display: block;
}
@media (max-width: 768px) {
  .three-column-layout {
    flex-direction: column;
    gap: 10px;
    padding: 0 10px;
  }

  .two-column {
    flex-direction: column;
  }

  .column {
    width: 100%;
  }
}

/* --- Advertisements --- */

.ad-space {
  padding: 10px;
  border: 1px dashed #ccc;
  margin-top: 10px;
}


