/* ----- Chess Formatting ----- */

:root {
  --Main: hsl(352, 60%, 30%);
  --Secondary: hsl(302, 85%, 85%);
  --Hover: hsl(90, 65%, 60%);

  --BG-Heavy: hsl(0 0 80%);
  --BG: hsl(0 0 85%);
  --BG-Light: hsl(0 0 90%);
  --Text: hsl(0 0 5%);
  --Text-Muted: hsl(0 0 30%);
}

/* Dark Mode */

@media (prefers-color-scheme: dark){
  :root{
  --BG-Heavy: hsl(0 0 15%);
  --BG: hsl(0 0 20%);
  --BG-Light: hsl(0 0 25%);
  --Text: hsl(0 0 95%);
  --Text-Muted: hsl(0 0 70%);

  /* Makes link text legible */
  main a:not(.button-link):not(.button-home) {
    color: var(--Secondary); 
  }
  main a:not(.button-link):not(.button-home):hover {
    color: var(--Hover);
  }
  }
}

/* --- Chess Board & Animation Controls --- */

#board {
    width: 480px;
    margin-bottom: 20px;
      box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}

#controls {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    background: var(--Main);
    color: var(--Text);
    cursor: pointer;
}

button:hover {
    background: var(--Hover);
}

button:active {
    transform: translateY(1px);
}


/* --- Disclaimers --- */

.disclaimers{
  padding-left: 3em;
}
.disclaimers li{
  margin-bottom: 16px;
  font-weight: bold;
}