/* ----- Chess Formatting ----- */

:root {
  --Main: hsl(2, 60%, 30%);
  --Secondary: hsl(312, 85%, 85%);
  --Hover: hsl(100, 65%, 60%);

  --BG-Heavy: hsl(0 0 80%);
  --BG: hsl(0 0 85%);
  --BG-Light: hsl(0 0 90%);
  --Text: hsl(0 0 5%);
  --Text-Muted: hsl(0 0 30%);
}

/* Dark Mode */

@media (prefers-color-scheme: dark){
  :root{
  --BG-Heavy: hsl(0 0 15%);
  --BG: hsl(0 0 20%);
  --BG-Light: hsl(0 0 25%);
  --Text: hsl(0 0 95%);
  --Text-Muted: hsl(0 0 70%);

  /* Makes link text legible */
  main a:not(.button-link):not(.button-home) {
    color: var(--Secondary); 
  }
  main a:not(.button-link):not(.button-home):hover {
    color: var(--Hover);
  }
  }
}

/* --- Body & Layout --- */

body {
    font-family: sans-serif;
    background: #111827;
    color: #f1f5f9;
    padding: 40px;
}

h1 {
    margin-bottom: 20px;
}

/* --- Chess Board & Animation Controls --- */

#board {
    width: 480px;
    margin-bottom: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}

#controls {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    background: #1e293b;
    color: white;
    cursor: pointer;
    font-size: 15px;
    transition: 0.15s ease-in-out;
}

button:hover {
    background: #334155;
}

button:active {
    transform: translateY(1px);
}


/* --- Disclaimers --- */

.disclaimers{
  padding-left: 3em;
}
.disclaimers li{
  margin-bottom: 16px;
  font-weight: bold;
}